body {
  background-color: #eef;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  color: darkgreen;
}

a {
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
